{% extends 'base.html.twig' %}
{% block body %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-dark">Tytuł Aukcji : {{ auctions.title }}</li>
            <li class="list-group-item list-group-item-action list-group-item-success">Opis : {{ auctions.description }} </li>
            <li class="list-group-item list-group-item-action list-group-item-primary">Cena : {{ auctions.price }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info">Cena Wywoławcza: {{ auctions.startingPrice }} </li>
            <li class="list-group-item list-group-item-action list-group-item-danger">Data Zakończenia aukcji: {{ auctions.expiresAt | date("Y-m-d H:i:s")}} </li>
        </ul>

        <br/>

        <ul class="list-group">
            {% for offer in auctions.offers %}
                <li class="list-group-item list-group-item-action list-group-item-dark">Oferta : {{ offer.price }} złotych , Złożona : {{ offer.createdAt | date("Y-m-d H:i:s")}}</li>
            {% endfor %}
        </ul>

    <hr/>


    <div class="btn-group">
        <a class="btn btn-default pull-left" href="{{ url("index_auction") }}">Powrót</a>
        <a class="btn btn-info pull-left" href="{{ url("auction_edit"  , {"id": auctions.id})}}">Edytuj</a>

        {{ form_start(deleteForm , {"attr" : {"class": "pull-left"}}) }}
            {{ form_widget(deleteForm.submit , {"attr": {"class": "btn-danger"}}) }}
            {{ form_rest(deleteForm) }}
        {{ form_end(deleteForm) }}

        {{ form_start(finishForm , {"attr" : {"class": "pull-left"}}) }}
            {{ form_widget(finishForm.submit , {"attr": {"class": "btn-warning"}}) }}
            {{ form_rest(finishForm) }}
        {{ form_end(finishForm) }}




    </div>

    <div class="clearfix"></div>



{% endblock %}